/*-----------1. Сброс CSS (START)-----------*/

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  margin-bottom: inherit;

  line-height: normal;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*-----------1. Сброс CSS (END)-----------*/

/*-----------2. Шрифты (START)-----------*/

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl100.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl100.woff") format("woff"),
    url("../fonts/MuseoSansCyrl100.ttf") format("truetype"),
    url("../fonts/MuseoSansCyrl100.eot") format("eot"); /* Для IE */
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl300.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl300.woff") format("woff"),
    url("../fonts/MuseoSansCyrl300.ttf") format("truetype"),
    url("../fonts/MuseoSansCyrl300.eot") format("eot"); /* Для IE */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl700.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl700.woff") format("woff"),
    url("../fonts/MuseoSansCyrl700.ttf") format("truetype"),
    url("../fonts/MuseoSansCyrl700.eot") format("eot"); /* Для IE */
  font-weight: 700;
  font-style: normal;
}

/*-----------2. Шрифты (END)-----------*/

/*-----------3. BODY (START)-----------*/

html,
body {
  font-family: "MuseoSansCyrl", "sans-serif";
  font-weight: 300;
  line-height: 1;
  color: #fff;

  height: 100vh;

  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

/*-----------3. BODY (END)-----------*/

/*-----------3. HEADER (START)-----------*/

.header {
  padding: 0px var(--global-padding);

  background-color: rgba(21, 10, 1, 0.212);

  -webkit-box-shadow: 0px 0px 0px 1px rgba(152, 147, 147, 0.212);
  -moz-box-shadow: 0px 0px 0px 1px rgba(152, 147, 147, 0.212);
  box-shadow: 0px 0px 0px 1px rgba(152, 147, 147, 0.212);
}

.logo {
  position: relative;

  padding-top: calc(var(--index) * 1.007752);
  padding-right: calc(var(--index) * 0.581395);
  padding-bottom: calc(var(--index) * 1.550388);
  padding-left: calc(var(--index) * 0.968992);

  border-left: 1px solid rgba(152, 147, 147, 0.212);
  border-right: 1px solid rgba(152, 147, 147, 0.212);
}

.logo__img {
}

.logo__angle {
  position: absolute;
  width: 0.4375rem;
  height: 0.4375rem;
}

.logo__angle-lt {
  top: 0;
  left: 0;
}
.logo__angle-rt {
  top: 0;
  right: 0;
}
.logo__angle-rb {
  bottom: 0;
  right: 0;
}
.logo__angle-lb {
  bottom: 0;
  left: 0;
}

.header__nav {
  flex-grow: 0.54;
}

.header__link {
  position: relative;

  height: 1rem;

  font-size: 1rem;
  line-height: 1.375;
  letter-spacing: -0.615px;

  transition: 0.3s ease-in;
}

.header__link:hover {
  color: #b1b1b1;
}
.header__link::after {
  opacity: 0;
  position: absolute;
  bottom: -8px;
  left: 0;

  content: "";
  width: 100%;
  height: 1px;

  border-bottom: 1px solid #3d3d3d;

  transition: 0.3s ease-in;
}
.header__link:hover::after {
  opacity: 1;
}

/*-----------3. HEADER (END)-----------*/

/*-----------4. Переменные (START)-----------*/

:root {
  --index: calc(1vh + 1vw);
  --global-padding: calc(var(--index) * 14.534883);
}

/*-----------4. Переменные (END)-----------*/

/*-----------5. MAIN (START)-----------*/

.main {
  height: calc(var(--index) * 21.705426);

  padding-left: var(--global-padding);
  padding-right: var(--global-padding);
}

/*-----------5. MAIN (END)-----------*/

/*-----------5. HERO (START)-----------*/

.hero {
  padding-top: calc(var(--index) * 1.472868);
}

.hero__left {
  position: relative;
  margin-top: -153px;
}

.hero__titles {
  background: linear-gradient(
    -90deg,
    rgba(255, 63, 4, 1) 0%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.hero__title {
  font-weight: 700;
  font-size: 3.6rem;
  text-transform: uppercase;
  margin-bottom: -0.5rem;
}

.hero__subtitle {
  font-size: 1.5625rem;
}

.hero__btn {
  position: absolute;
  bottom: -120px;

  width: fit-content;
  font-size: 0.875rem;
  padding: 11px 24px;
  border: 1px solid transparent;
  border-image: linear-gradient(
      -171deg,
      rgba(38, 62, 102, 1) 0%,
      rgba(9, 33, 61, 1) 40%,
      rgba(17, 31, 45, 1) 60%,
      rgba(35, 89, 156, 1) 100%
    )
    1;
  color: rgba(255, 255, 255, 0.6);

  transition: 0.3s ease-in;
}

.hero__btn:hover {
  color: rgba(255, 255, 255, 1);
}

.hero__right {
  display: grid;
  grid-template-columns: repeat(2, calc(var(--index) * 7.170543));
  grid-template-rows: repeat(2, calc(var(--index) * 7.170543));
  row-gap: 10px;
  gap: 10px;

  margin-right: -2rem;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.01);

  transition: 0.3s ease-in;
  cursor: pointer;
}
.promo:hover {
  opacity: 1;
  background: linear-gradient(
    140deg,
    transparent 0%,
    transparent 40%,
    rgba(255, 255, 255, 0.1) 100%
  );

  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
      140deg,
      transparent 0%,
      transparent 70%,
      rgba(86, 89, 96, 0.8) 100%
    )
    1;
}

.promo__text {
  font-size: 1.125rem;
  font-weight: 100;
}

.promo__accent-text {
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: -0.75rem;
  margin-top: 0.625rem;
}

.promo__accent-text span {
  font-size: 1.25rem;
}

/*-----------5. HERO (END)-----------*/
